name: CI Pipeline

on:
  workflow_call:
    inputs:
      repo:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true

jobs:
  build-and-run-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repo }}
          token: ${{ secrets.TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t simple-npm-app .

      - name: Run Docker container
        run: docker-compose up -d
